html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}


a {
  color: rgb(174,174,174);
  text-decoration: none;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: rgb(40,27,58);
  width: 100%;
  height: 100%;
}

h2{
  color:white;

}