.navcontainer{
    position: fixed;
    width:200px;
    height:100%;
    background-color: rgb(65,50,136);
    box-shadow: 2px 0px 2px 0px rgb(65,50,136);

 }

 .wrapper{
     padding:10px;
     z-index: 1;
 }
 .logo{
    padding:10px;
    padding-left: 20px;
    text-align:left;
    font-size: 20px;
    font-weight: bold;
    color:rgb(255, 255, 255);
 }

.wrapper >ul{
    margin-top:20px;
     text-align: left;
     padding-left: 10px;
     display: flex;
     gap:25px;
     flex-direction: column;
     font-size: 18px;
     font-weight: bold;
     
 }

.wrapper>ul>li{
    list-style: none;
    font-size: 20px;
    text-decoration: none;
    opacity: .6;
    color:rgb(255, 255, 255);
}
.wrapper>ul>li:active{
    color: rgb(255, 255, 255);
}

.wrapper>ul>li>a:hover{
    color: rgb(0, 140, 150);
    font-size: 22px;
    transition: 0.2s;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
.navcontainer{
    width: 70px;
}
.logo>h2{
    color:rgb(255, 255, 255);
}
.logo{
    background: url('../public/logo.png');
    width: 40px;
    height: 40px;
    padding:10px;
    margin: 10px;
}
.wrapper>ul{
    gap:5px;
}
.wrapper>ul>li:hover{
  color:red;
}
.wrapper>ul>li>a{
    opacity: 0;
}

  }


/* header css starts  */

.headcontainer{
    display: flex;
    flex-wrap: wrap;
    height:70px;
    background-color: rgb(40, 27, 58);
    margin-left:200px;
    /* z-index: -1; */
   
}
.headwrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.title{
    margin-left: 40px;
    color:rgb(255, 255, 255)
}

/*Hello, XXXXX {At the top of the page}  */

.title>h2{
    color: rgb(255, 255, 255);;
}
.title>p{
    color: rgb(195, 195, 195);;
}

.title>h2>span{
    color:rgb(255, 255, 255);
}
.profile{
    position: absolute;
    right:20px;
}
.image{
    width: 40px;
    height:40px;
    border-radius: 50%;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .headcontainer{
        width: 100%;
        margin-left: 70px;
    }
    .profile{
        position: absolute;
        right:0px;
    }
  
}
/* 
content of dashboard start */

.contentcontainer{
    display: flex;
    flex-wrap: wrap;
    margin-left:200px;
}

.contentwrapper{
    display: flex;
    padding: 20px;
    gap:40px;
}
.tabs{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:250px;
    height:100px;
    background-color: rgb(200,75,133);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 0px 6px 0px rgba(78, 78, 78, 0.75);
}


.categories>h2{
    color: rgb(219, 219, 219);
}



@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .contentcontainer{
        margin-left: 70px;
       
    }
    .contentwrapper{
       display: grid;
       grid-template-columns: 1fr;
    }
    .tabs{
        width: 350px;
    }

}
/* 
charts css started  */

.charts{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 20px;
}
.bar{
    margin-left: 20px;
}

.circle{
    margin-left: 120px;
}


@media only screen and (max-width: 768px) {
    
.charts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
   
}
.bar>h2{
    text-align: center;
    margin-bottom: 20px;
    color:rgb(255, 255, 255)
}
.circle>h2{
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
    color:rgb(255, 255, 255)

}
.bar{
    margin-top: 60px;
    margin-left: 10px;
    width:300px;
    height:300px;
}
.circle{
    margin-top: 60px;
    margin-left: 10px;
    width:300px;
    height:300px;
}



}
